/* ==========================================================================
   POST
   ========================================================================== */

.mermaid {
  display: flex !important;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
}
